.sort {
    width: 85%;
    margin: 0 auto;
}

.sort__flexBox {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.sort__radioBox {
    width: 222px;
}

.sort__btnBox {
    width: 422px;
    margin-left: -25px;
}

.sort__columnContainer {
    width: 75%;
    margin: 36px auto 0 auto;
    display: flex;
    justify-content: center;
}

.sort__column {
    align-self: flex-end;
    margin-right: 10px;
}